{% extends "base.html" %}

{% block htmltag %}<html lang="{{ page.lang|default(DEFAULT_LANG) }}">{% endblock %}

{% block meta %}
{{ super() }}

{% if page.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="{{ page.lang }}" />
{% for p in page.translations %}
<link rel="alternate" href="{{ lang_siteurls[p.lang] }}/{{ p.url }}" hreflang="{{ p.lang }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block title %} &ndash; {{ page.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="{{ page.slug }}">פייקון ישראל {{ PYCON.YEAR }}</h1>
    <h3>
      <nobr>{{ PYCON.LOCATION[page.lang] }}</nobr>
      <span class="inline-separator">|</span>
      <nobr><time datetime="{{ PYCON.TECH_DATE }}">{{ PYCON.DATES[page.lang] }}</time></nobr>
    </h3>
  </header>
  <div>
    {% block before_content %}
    <section id="buttons">
      {# TODO: These buttons should be controlled from config vars #}
      <a class="btn homebtn" href="#about">על הכנס</a>
      <a class="btn homebtn"
	 href="{{ SITEURL }}/pages/schedule.html{% if not DISABLE_URL_HASH %}#schedule{% endif %}">
	תוכנית הכנס
      </a>
      <a class="btn homebtn"  href="https://ti.to/hamakor/pycon2024">כרטיסים</a>
    </section>
    {% endblock %}
    {% block page_content %}{{ page.content }}{% endblock %}
    {% block after_content %}{% endblock %}
  </div>
</article>
{% endblock %}
