{% extends "base.html" %}

{% block htmltag %}<html lang="{{ page.lang|default(DEFAULT_LANG) }}">{% endblock %}

{% block meta %}
{{ super() }}

{% if page.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="{{ page.lang }}" />
{% for p in page.translations %}
<link rel="alternate" href="{{ lang_siteurls[p.lang] }}/{{ p.url }}" hreflang="{{ p.lang }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block title %} &ndash; {{ page.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="{{ page.slug }}">PyCon Israel {{ PYCON.YEAR }}</h1>
    <h3>
      <nobr>{{ PYCON.LOCATION[page.lang] }}</nobr>
      <span class="inline-separator">|</span>
      <nobr><time datetime="{{ PYCON.TECH_DATE }}">{{ PYCON.DATES[page.lang] }}</time></nobr>
    </h3>
  </header>
  <div>
    {% block before_content %}
    <section id="buttons">
      {# TODO: These buttons should be controlled from config vars #}
      <a class="btn homebtn" href="#about">About</a>
      <a class="btn homebtn" href="{{ SITEURL }}/pages/schedule.html{% if not DISABLE_URL_HASH %}#schedule{% endif %}">Agenda</a>
      <a class="btn homebtn" href="https://ti.to/hamakor/pycon2024">Tickets</a>
    </section>
    {% endblock %}
    {% block page_content %}{{ page.content }}{% endblock %}
    {% block after_content %}
    <section id="sponsors">
      {# FIXME: This section should move up in page #}
      {# TODO: A restructuring to support page sections more generally #}
      <h2>Sponsors and partners</h2>
      {% import 'partial/sponsors.html' as sponsors with context %}
      {% for sp_level, sp_pages in pages|groupby("sp_level", default="") if sp_level %}
      <div class="sp-level {{ SPONSOR_LEVELS[sp_level]['class'] }}">
	<h3>{{ SPONSOR_LEVELS[sp_level].name[page.lang] }}</h3>
      </div>
      <div class="sp-level {{ SPONSOR_LEVELS[sp_level]['class'] }}">
	{% for sp_page in sp_pages %}
	{{ sponsors.one_sponsor_for(sp_page) }}
	{% endfor %}
      </div>
      {% endfor %}
      
    </section>
    {% endblock %}

  </div>
</article>
{% endblock %}
